node_modules/
dist/
build/
.cache/
.parcel-cache/
.turbo/
.next/
.vercel/
coverage/
npm-debug.log*
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/
yarn-error.log
pnpm-lock.yaml
package-lock.json
/.pnp/
.pnp.js
*.log
/.vite/
public/locales/*.json